/* Hero */
.aps-hero {
    margin-top: 68px;
    background-image: var(--hero-bg-desktop);
    background-repeat: no-repeat;
    background-size: cover;
    height: 573px;
    display: flex;
    align-items: center;
    background-position: center center;
    width: 100%;
}

.aps-hero__title {
    max-width: 400px;
    font-size: var(--font-hero);
    font-weight: 700;
    color: var(--color-white);
    line-height: 76px;

}


.aps-hero__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;


}

.aps-btn--hero {
    padding: 16px 32px;
    font-size: var(--font-sm);
    font-weight: 600;
    color: var(--color-primary-blue-dark);
    background-color: var(--color-white);
    border-radius: 12px;
    transition: all 0.3s ease;
    line-height: 26px;
}

.aps-btn--hero:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(27, 68, 255, 0.3);
}

/* End Hero-section */


/* Featured Section */
.aps-section--cards {
    padding-top: 100px;
    padding-bottom: 100px;

}

.aps-section--cards .aps-container {
    display: flex;
    flex-direction: column;

}

.aps-section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aps-section__subtitle {
    padding-left: 2px;
    font-size: var(--font-md);
    font-weight: 400px;
    line-height: 28px;
    color: var(--color-text);

}

.aps-btn--ghost {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 16px 20px;
    line-height: 22px;
    font-size: var(--font-xs);
    font-weight: 600;
    color: var(--color-primary-blue-dark);
    background-color: var(--color-white);
    border-radius: 12px;
    transition: all 0.3s ease;
    border: 1px solid var(--color-primary-blue);
}

.aps-btn--ghost:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 2, 11, 0.3);
}

.aps-cards {
    position: relative;
    width: 100%;
    cursor: grab;
    user-select: none;
    padding: 40px 0;
    overflow: hidden;
}

.aps-cards:active {
    cursor: grabbing;
}

.aps-cards-inner {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    transition: all 0.5s ease;
}

.aps_card {
    width: 410px;
    height: 525px;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-shrink: 0;
}

.aps_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 9px 34px rgba(0, 0, 0, 0.2);
}

.aps_card__img {
    height: 276px;
    border-radius: 8px 8px 0 0;
    width: 100%;
    display: block;

}

.aps_card__body {
    padding: 20px;
    /* display: flex;
    flex-direction: column; */
}

.aps_card__meta {
    display: flex;
    color: var(--color-text);
    font-size: var(--font-xs);
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 4px;
}

.aps_card__meta>img {
    margin-right: 4px;
}


.aps_card__title {
    font-size: var(--font-xl);
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin: 4px 0 12px 0;
    color: var(--color-primary-blue-dark);
}

.aps_card__captionA {
    max-width: 339px;
    color: var(--color-text);
    font-size: var(--font-xs);
    line-height: 22px;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aps_card__captionE {
    max-width: 358px;
    color: var(--color-text);
    font-size: var(--font-xs);
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.aps_card__divider {
    width: 100%;
    height: 1px;
    border: none;
    border-top: 1px solid var(--color-border);
    opacity: 0.5;
    margin: 20px 0 20px 0;
}


.aps_btn--pill {
    gap: 4px;
    display: flex;
    align-items: center;
    width: 148px;
    height: 46px;
    padding: 12px 16px;
    background: var(--color-primary-blue);
    color: var(--color-white);
    font-size: var(--font-xs);
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.3s ease;
    white-space: nowrap;

}

.aps_btn--pill:hover {
    background: #1a36c4;
    transform: translateY(-2px);
}

.aps-slider-dots {
    display: flex;
    justify-content: center;
}

.aps-slider-dots svg {
    cursor: pointer;
}

.aps-dot-circle {
    cursor: pointer;
    transition: all 0.3s ease;
}

.aps-dot-inner {
    transition: opacity 0.3s ease;
}

.aps-dot-circle:hover {
    stroke: #8EA1E1;
}

/* End Featured Section */