/* Hero */
.aps-hero {
    margin-top: 68px;
    background-image: var(--hero-bg-desktop);
    background-repeat: no-repeat;
    background-size: cover;
    height: 573px;
    display: flex;
    align-items: center;
    background-position: center center;
    width: 100%;
}

.aps-hero__title {
    max-width: 400px;
    font-size: var(--font-hero);
    font-weight: 700;
    color: var(--color-white);
    line-height: 76px;

}


.aps-hero__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;


}

.aps-btn--hero {
    padding: 16px 32px;
    font-size: var(--font-sm);
    font-weight: 600;
    color: var(--color-primary-blue-dark);
    background-color: var(--color-white);
    border-radius: 12px;
    transition: all 0.3s ease;
    line-height: 26px;
}

.aps-btn--hero:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(27, 68, 255, 0.3);
}

/* End Hero-section */


/* Featured Section */
.aps-section--cards {
    padding-top: 100px;
    padding-bottom: 100px;

}

.aps-section--cards .aps-container {
    display: flex;
    flex-direction: column;

}

.aps-section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aps-section__subtitle {
    padding-left: 2px;
    font-size: var(--font-md);
    font-weight: 400px;
    line-height: 28px;
    color: var(--color-text);

}

.aps-btn--ghost {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 16px 20px;
    line-height: 22px;
    font-size: var(--font-xs);
    font-weight: 600;
    color: var(--color-primary-blue-dark);
    background-color: var(--color-white);
    border-radius: 12px;
    transition: all 0.3s ease;
    border: 1px solid var(--color-primary-blue);
}

.aps-btn--ghost:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 2, 11, 0.3);
}

.aps-cards {
    position: relative;
    width: calc(100% + 60px);
    margin-left: -30px;
    cursor: grab;
    user-select: none;
    padding: 40px 30px;
    overflow-x: hidden;
 
}

.aps-cards:active {
    cursor: grabbing;
}

.aps-cards-inner {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    transition: all 0.5s ease;
}

.aps_card {
    width: 410px;
    height: 525px;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-shrink: 0;
}

.aps_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 9px 34px rgba(0, 0, 0, 0.2);
}

.aps_card__img {
    height: 276px;
    border-radius: 8px 8px 0 0;
    width: 100%;
    display: block;

}

.aps_card__body {
    padding: 20px;
    /* display: flex;
    flex-direction: column; */
}

.aps_card__meta {
    display: flex;
    color: var(--color-text);
    font-size: var(--font-xs);
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 4px;
}

.aps_card__meta>img {
    margin-right: 4px;
}


.aps_card__title {
    font-size: var(--font-xl);
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin: 4px 0 12px 0;
    color: var(--color-primary-blue-dark);
}

.aps_card__captionA {
    max-width: 339px;
    color: var(--color-text);
    font-size: var(--font-xs);
    line-height: 22px;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aps_card__captionE {
    max-width: 358px;
    color: var(--color-text);
    font-size: var(--font-xs);
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.aps_card__divider {
    width: 100%;
    height: 1px;
    border: none;
    border-top: 1px solid var(--color-border);
    opacity: 0.5;
    margin: 20px 0 20px 0;
}


.aps_btn--pill {
    gap: 4px;
    display: flex;
    align-items: center;
    width: 148px;
    height: 46px;
    padding: 12px 16px;
    background: var(--color-primary-blue);
    color: var(--color-white);
    font-size: var(--font-xs);
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.3s ease;
    white-space: nowrap;

}

.aps_btn--pill:hover {
    background: #1a36c4;
    transform: translateY(-2px);
}

.aps-slider-dots {
    display: flex;
    justify-content: center;
}

.aps-slider-dots svg {
    cursor: pointer;
}

.aps-dot-circle {
    cursor: pointer;
    transition: all 0.3s ease;
}

.aps-dot-inner {
    transition: opacity 0.3s ease;
}

.aps-dot-circle:hover {
    stroke: #8EA1E1;
}

/* End Featured Section */

/* Benefit  */
.aps-guide {
    padding-top: 100px;
    padding-bottom: 100px;
}

.aps-guide__inner {
    text-align: center;
    margin-bottom: 40px;
}

.aps-guide__steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.aps-guide__step {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aps-guide__step-img {

    margin-bottom: 24px;
}

.aps-guide__step-title {
    font-size: var(--font-xl);
    font-weight: 700;
    line-height: 16px;
    color: var(--color-primary-blue-dark);
    margin-bottom: 8px;
}

// end Benefit  */



/* Map Section */
.aps-map .aps-container {
    max-width: 100%;
}

.aps-map__container iframe {
    display: block;
    width: 100%;
}

/* End Map Section */

/* Brand Section */
.aps-blog {
    background: var(--color-bg-light);
    padding: 80px 0;

}

.aps-blog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}


.aps-blog__cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 20px;
}

.aps-blog__card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1;
}

.aps-blog__card {
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    background: var(--color-white);

}

.aps-blog__card-img {
    border-radius: 12px;
}

.aps-blog__card-title {
    color: var(--color-primary-blue-dark);
    text-align: center;
    font-size: var(--font-lg);
    font-style: bold;
    font-weight: 700;
    line-height: 28px;
    text-transform: capitalize;
}

.aps-blog__card-text {
    color: var(--color-text-muted);
    font-size: var(--font-xs);
    font-style: regular;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.aps-blog__card-text:hover {
    color: var(--color-primary-blue-dark);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
}


/* Partners Section */
.aps-partners {
    background: var(--color-white);
    padding: 100px 0;
}

.aps-partners__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.aps-partners__title {
    color: var(--color-primary-blue-dark);
    text-align: center;
    font-size: var(--font-3xl);
    font-weight: 700;
    line-height: 48px;
}


.aps-partners__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.aps-partners__logo {
    cursor: grabbing;
    height: 30px;
    width: auto;
    opacity: 0.7;
    transition: opacity 0.3s ease;

}

.aps-partners__logo:hover {
    opacity: 1;
}