@media (max-width: 576px) {

    // header
    .aps-topbar {
        padding: 12px 20px;

    }

    .aps-topbar__inner {
        display: flex;
        justify-content: space-between;

    }

    .aps-logo--desktop {
        display: none;
    }

    .aps-logo--mobile {
        display: block;
    }


    .aps-icon-btn--search {
        display: none;
    }

    .aps-mobile-toggle {
        display: block;
    }

    //drop menu down
    .aps-nav {
        display: none;
        position: absolute;
        top: 99%;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 999;
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
        padding: 16px 0;
        transition: all 0.3s ease-in-out;

        // Thêm hiệu ứng
        opacity: 0;
        transform: translateY(-15px);
        visibility: hidden;

        &.is-open {
            display: block;
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
        }

        ul {
            flex-direction: column;
            gap: 16px;
            padding: 0 20px;
        }
    }

    /* Hero Section */
    .aps-hero {
        max-height: 326px;
        background-image: var(--hero-bg-mobile);
    }

    .aps-hero__inner {
        max-width: 100%;
        padding: 0 20px;
        gap: 12px 0;

    }

    .aps-hero__title {
        max-width: 240px;
        font-size: 40px;
        line-height: 48px;
    }

    .aps-btn--hero {
        font-size: var(--font-xs);
        font-weight: 600;
        line-height: 22px;
        padding: 12px 16px;
    }

    // Featured section




    .aps-section--cards {
        padding: 40px 0 40px 0;

    }

    .aps-section__header {
        display: flex;
        flex-direction: column;
    }

    .aps-section__title-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        display: inline-block;
        text-align: center;
        padding-bottom: 20px;
    }

    .aps-section__title {
        font-size: 24px;
        line-height: 32px;

    }

    .aps-subtitle {
        font-size: 18px;
        max-width: 359px;
        line-height: 26px;
    }

    .aps-cards {
        padding: 0 20px;

    }



    .aps-cards-inner.slick-initialized .slick-slide,
    .aps-cards-inner.slick-initialized .aps_card {
        width: 100vw !important;
    }

    .aps-cards-inner.slick-initialized .slick-list {
        overflow: hidden !important;
    }


    .aps-slider-dots {
        padding: 40px 0;
    }


    .aps_card__captionA {
        max-width: 412px;
    }

    .aps_card__captionE {
        max-width: 418px;
    }


    .aps-section__button-wrapper--mobile {
        display: block;
        text-align: center;

    }

    .aps-section__button-wrapper--mobile .aps-btn {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .aps-section__button-wrapper:not(.aps-section__button-wrapper--mobile) {
        display: none;
    }


    // Benefit Section
    .aps-guide {
        padding: 40px 20px;
    }

    .aps-guide__inner {
        text-align: center;
        margin-bottom: 20px;
    }

    .aps-guide__title {
        font-size: 24px;
        line-height: 32px;
    }

    .aps-subtitle {
        max-width: fit-content;
        font-size: 16px;
        line-height: 26px;
    }


    .aps-guide__steps {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 20px;
    }

    .aps-guide__step-img {

        margin-bottom: 0;
    }

    .aps-guide__step-title {
        padding: 12px 0 4px 0;

        text-align: center;
        font-size: 20px;
        line-height: 28px;
    }

    .aps-text_medium {
        font-size: 12px;
        line-height: 20px;
    }

    // Brand Section
    .aps-blog {
        padding: 32px 20px;
    }

    .aps-blog__header {
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    .aps-blog__title {
        font-size: 28px;
        line-height: 32px;
    }

    .aps-blog__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, auto);

    }

    .aps-blog__card {
        display: flex;
        width: 165px;
        padding: 20px 12px 16px 12px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .aps-blog__card-content {
        display: flex;
        align-items: center;
    }



    .aps-blog__card-title {
        font-size: 20px;
        line-height: 28px;
    }

    .aps-blog__card-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }

    // Partners Section
    .aps-partners {
        padding: 40px 0;
    }

    .aps-partners__inner {
        gap: 20px;
        padding: 0 20px;
    }

    .aps-partners__title {
        font-size: 24px;
        line-height: 32px;
    }


    .aps-partners__logos.slick-initialized {
        flex-wrap: nowrap;
    }





    // footer
    .aps-footer {
        padding: 0 20px 0 20px
    }

    .aps-footer__inner {
        display: flex;
        padding: 32px 0 20px 0;
        justify-content: center;
    }

    .aps-footer__col--about {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .aps-footer__contact-title {
        color: var(--color-white);
        font-size: var(--font-lg);
        font-weight: 700;
        line-height: 28px;
    }

    .aps-footer__contact-text {
        color: var(--color-border);
        font-size: var(--font-xs);
        font-weight: 400;
        line-height: 22px;
        padding: 8px 0;

    }

    .aps-footer__contact-address {
        max-width: 100%;
        color: var(--color-border);
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }

    .aps-footer__col--newsletter {
        margin-left: 0;
    }

    .aps-footer__newsletter-content {
        width: 100%;
        min-width: 0;
        height: auto;
        display: flex;
        padding: 24px;
        flex-wrap: wrap;
    }

    .aps-footer__newsletter-left {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .aps-footer__title {
        font-size: var(--font-lg);
        font-weight: 700;
        line-height: 28px;
        color: var(--color-white);

    }

    .aps-footer__subtitle {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        color: var(--color-text-muted);
    }

    .aps-footer__form {
        width: 100%;
        padding: 4px 4px 4px 20px;
    }

    .aps-footer__nav ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        font-size: 14px;
        line-height: 22px;
    }

    .aps-footer__bottom {
        display: flex;
        gap: 8px;
        padding: 16px 0;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .aps-footer__copyright {
        font-size: 12px;
        line-height: 22px;

    }

    .aps-footer__legal {
        font-size: 12px;
        line-height: 22px;
    }

}