@media (max-width: 576px) {

    // header
    .aps-topbar {
        padding: 12px 20px;

    }

    .aps-topbar__inner {
        display: flex;
        justify-content: space-between;

    }

    .aps-logo--desktop {
        display: none;
    }

    .aps-logo--mobile {
        display: block;
    }

    .aps-logo--mobile img {
        max-width: 28px;
    }

    .aps-icon-btn--search {
        display: none;
    }

    .aps-mobile-toggle {
        display: block;
    }

    //drop menu down
    .aps-nav {
        display: none;
        position: absolute;
        top: 99%;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 999;
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
        padding: 16px 0;
        transition: all 0.3s ease-in-out;

        // Thêm hiệu ứng
        opacity: 0;
        transform: translateY(-15px);
        visibility: hidden;

        &.is-open {
            display: block;
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
        }

        ul {
            flex-direction: column;
            gap: 16px;
            padding: 0 20px;
        }
    }

    /* Hero Section */
    .aps-hero {
        max-height: 443px;
        background-image: var(--hero-bg-mobile);
    }

    .aps-hero__inner {
        max-width: 100%;
        padding: 0 20px;
        gap: 12px 0;

    }

    .aps-hero__title {
        max-width: 240px;
        font-size: 40px;
        line-height: 48px;
    }

    .aps-btn--hero {
        font-size: var(--font-xs);
        font-weight: 600;
        line-height: 22px;
        padding: 12px 16px;
    }


    // footer
    .aps-footer {
        padding: 0 20px 0 20px
    }

    .aps-footer__inner {
        padding: 32px 0 20px 0;
    }

    .aps-footer__col--about {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .aps-footer__contact-title {
        color: var(--color-white);
        font-size: var(--font-lg);
        font-weight: 700;
        line-height: 28px;
    }

    .aps-footer__contact-text {
        color: var(--color-border);
        font-size: var(--font-xs);
        font-weight: 400;
        line-height: 22px;
        padding: 8px 0;

    }

    .aps-footer__contact-address {
        max-width: 100%;
        color: var(--color-border);
        font-size: 22.6px;
        font-weight: 400;
        line-height: 22px;
    }

    .aps-footer__col--newsletter {
        margin-left: 0;

    }

    .aps-footer__newsletter-content {
        width: 100%;
        min-width: 0;
        height: auto;
        flex-direction: column;
        padding: 20px 10px;
    }


    .aps-footer__title {
        font-size: var(--font-lg);
        font-weight: 700;
        line-height: 28px;
        color: var(--color-white);

    }

    .aps-footer__subtitle {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        color: var(--color-text-muted);
    }

    .aps-footer__form {
        width: 100%;
        min-width: 0;
        padding: 4px 4px 4px 10px;
    }

    .aps-footer__nav ul {
        flex-direction: column;
        gap: 12px;
        column-gap: 0;
        align-items: flex-start;
    }

    .aps-footer__bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding: 12px 0;
    }

}