.aps-cards-inner.slick-initialized {
    display: flex;
}

.aps-cards-inner.slick-initialized .slick-list {
    overflow: visible;
}

.aps-cards-inner.slick-initialized .slick-track {
    display: flex;
    gap: 30px;
    transform-style: preserve-3d;
}

.aps-cards-inner.slick-initialized .slick-slide {
    width: auto;
    margin: 0;

}


.aps-cards-inner.slick-initialized .aps_card {
    width: 410px;
    height: 525px;
    flex-shrink: 0;
    margin: 0;
}